<div class="media">
  <div class="media-body">
    <h5 class="mt-0"><%= comment.commenter %></h5>
    <%= comment.body %>

    <p>
    <%= link_to 'Destroy Comment', 
      [comment.article, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
</div>
