<div class="media">
  <div class="media-body">
    <%= comment.body %>

    <p>
    <%= link_to 'Destroy Comment', 
      [comment.article, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
</div>
