<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>

  <div class="form-group">
    <%= form.label :body %><br>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <%= form.submit %>

<% end %>