<p id="notice">
  <%= notice %>
</p>

<div class="jumbotron">
  <h1>Hello, World!</h1>

  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log Out", logout_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
